<!DOCTYPE html>
<html lang="en">
  <head>
    <title>News Aggregator</title>
  </head>

  <body>
    <h1>Article Submission</h1>

    <form action="/articles" method="post">
      <label for="title">Article Title</label>
      <input type="text" id="title" name="title">

      <label for="url">Article URL</label>
      <input type="url" id="url" name="url">

      <label for="description">Article Description</label>
      <input type="text" id="description" name="description">

      <input type="submit">
    </form>
  </body>
</html>
